.color-case{
    background-color: #0202FF;
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: -1;
}

header {
    color: #FFF;
    padding-bottom: 2rem;
}

.video-case img {
    display: grid;
    width: 90%;
    margin: 0 auto;
}

.intro-case {
    color: #FFF;
}

.show-case img {
    grid-column-start: 1;
    grid-column-end: 3;
}

.show-case img:first-of-type {
    padding: 4rem 0 4rem;
}

figcaption {
    padding: 1rem 0;
}


/* RESPONSIVE TABLET - LANDSCAPE */

@media only screen and (max-width: 1180px) {

    .video-case img {
        width: 100%;
    }

}


@media only screen and (max-width: 900px) {

    .show-case img:first-of-type {
        padding: 2rem 0;
    }

    .motion-case div{
        grid-row-start: 1;
        padding: 5rem 0 2rem;
    }

}


@media only screen and (max-width: 768px) {

    .show-case p:nth-child(3) {
        padding-bottom: 0;
    }

    .color-case {
        height: 80vh;
    }

}


@media only screen and (max-width: 550px) {

    .explain-case img{
        display: grid!important;
    }

}