.color-case{
    background-color: #fff;
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: -1;
}

header {
    color: #7685BC;
    padding-bottom: 2rem;
}

.video-case img {
    display: grid;
    width: 90%;
    margin: 0 auto;
}

.intro-case {
    color: #7685BC;
}





/* RESPONSIVE TABLET - LANDSCAPE */

@media only screen and (max-width: 1180px) {

    .video-case img {
        width: 100%;
    }

}