.color-case{
    background-color: #00091C;
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: -1;
}

header {
    color: #BFFF00;
    padding-bottom: 2rem;
}

.video-case {
    margin: 4% 0 0;
}

.video-case img {
    display: grid;
    width: 70%;
    margin: 0 auto;
}

.intro-case {
    color: #BFFF00;
}

.explain-case video {
    padding: 10rem 0;
    width: 100%;
}

.show-case {
    padding: 0 0 7rem;
}

.show-case video {
    padding: 0;
}

figcaption {
    padding: 1rem 0;
}

.motion-case img:first-of-type{
    padding: 0;
}


/* RESPONSIVE TABLET - LANDSCAPE */

@media only screen and (max-width: 1180px) {

    .video-case img {
        width: 100%;
    }

}