.color-case{
    background-color: #00091C;
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: -1;
}

header {
    color: #BFFF00;
    padding-bottom: 2rem;
}

.video-case {
    margin: 4% 0 0;
}

.video-case img {
    display: grid;
    width: 70%;
    margin: 0 auto;
}

.intro-case {
    color: #BFFF00;
}

.explain-case video {
    padding: 10rem 0;
    width: 100%;
}

.show-case video {
    padding: 0;
}

figcaption {
    padding: 1rem 0;
}

.motion-case figcaption{
    grid-column-start: 1;
    grid-column-end: 2;
}

.motion-case img:first-of-type{
    padding: 0;
}


/* RESPONSIVE TABLET - LANDSCAPE */

@media only screen and (max-width: 1180px) {

    .video-case img {
        width: 100%;
    }

}


@media only screen and (max-width: 900px) {

    .show-case img:first-of-type {
        padding: 2rem 0;
    }

    .motion-case div{
        grid-row-start: 1;
        padding: 5rem 0 2rem;
    }

    .app-design-case{
        margin: 0;
    }

}


@media only screen and (max-width: 768px) {

    .show-case p:nth-child(3) {
        padding-bottom: 0;
    }

    .color-case {
        height: 80vh;
    }

}

@media only screen and (max-width: 550px) {

    .explain-case img{
        display: grid!important;
    }

}