@import './normalize.css';


:root {
    --marquee-width: 100vw;
    --offset: 20vw;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
    --item-font-size: 15vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

body {
    transition: background-color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    font-family: "Lato", sans-serif;
    background-color: #FFF;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    display: inline-block;
}

nav,
main {
    padding: 0 5.6%;
    height: 100%;
    width: 100%;
}

/* header  */
header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    overflow: hidden;
}

header p {
    padding: 4% 10% 0;
    font-size: 2.1vw;
    width: 50vw;
    font-weight: 400;
}

header p span{
    font-family: 'Playfair Display', serif;
    border-bottom: 1px solid #000;
}

header nav ul {
    display: flex;
}

header nav ul li:nth-child(1) {
    margin-right: auto;
}

header nav ul li:nth-child(2) {
    margin-right: 3rem;
}

/* main */
main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

main ul {
    display: flex;
    flex-direction: column;
    row-gap: 15vh;
}

.item-container{
    display: flex;
    contain: content;
    width: 40vw;
    height: 30vw;
}

main ul li a img {
    height: 30vw;
    background-color: red;
    width: 40vw;
}

main ul li a h3 {
    margin-top: 1.5rem;
    font-size: 2vw;
}

main ul li a div {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

main ul li a div p {
    padding: 0 .5rem;
    font-size: .8rem;
    /* color: #737373; */
}

main ul li a div p:nth-child(1) {
    padding-left: 0;
}

main ul li:nth-child(1) {
    margin-left: auto;
}

main ul li:nth-child(3) {
    margin-left: auto;
}


/* footer  */
footer {
    background: #000;
    padding: 5% 0;
    margin-top: 15rem;
    width: 100%;
    height: 100%;
}



/* marquee carousel animation */

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-750px * 4));
    }
}

.slider {
    height: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slider:nth-of-type(2) .slide-track {
    animation-direction: reverse;
    margin-top: 5rem;
}

.slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(750px * 8);
}

.slider .slide {
    height: 40vh;
    width: 750px;
}


/* marquee title animation */
.marquee {
    position: relative;
    width: var(--marquee-width);
    overflow: hidden;
    pointer-events: none;
}

.marquee__inner {
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 10s linear infinite;
    transition: opacity 0.1s;
}

.marquee span {
    font-family: 'Playfair Display', serif;
    white-space: nowrap;
    font-size: var(--item-font-size);
    padding: 1vw;
    line-height: 1.15;
    font-weight: 600;
}


@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}

/* custom cursor */

#cursor {
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    pointer-events: none;
    will-change: transform;
    mix-blend-mode: difference;
}

@media (hover: hover) and (pointer: fine) {
    .cursor__circle {
        width: 24px;
        height: 24px;
        margin-top: -50%;
        margin-left: -50%;
        border-radius: 50%;
        background-color: #7D7D7D;
        transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    }

    #cursor.arrow .cursor__circle {
        width: 128px;
        height: 128px;
        background-color: #073099;
        border-color: #073099;
    }

    #cursor.arrow::after {
        content: '';
        position: absolute;
        left: -50%;
        top: -50%;
        width: 100%;
        height: 100%;
        background-image: url('https://svgshare.com/i/MzQ.svg');
        background-repeat: no-repeat;
        background-position: center;
    }

    #cursor.subtle .cursor__circle {
        opacity: 0.16;
    }

    #cursor.overlay .cursor__circle {
        width: 48px;
        height: 48px;
        background-color: rgba(227, 222, 193, 0.08);
        border-color: transparent;
    }
}