@import './normalize.css';


:root {
    --marquee-width: 100vw;
    --offset: 20vw;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
    --item-font-size: 15vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

/* h1 {
    font-size: calc(100% + 3vmin);
}

h2 {
    font-size: calc(100% + 2.5vmin);
}

h3 {
    font-size: calc(100% + 2vmin);
}

h4 {
    font-size: calc(100% + 1.5vmin);
}

h5 {
    font-size: calc(100% + 1vmin);
}

p {
    font-size: calc(50% + .65vmin);
} */

body {
    transition: background-color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    font-family: "Lato", sans-serif;
    background-color: #FFF;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    display: inline-block;
}

.content__item {
    font-size: 1em;
}

/* CUSTOM HOVERS */
.content__item::before {
    /* color: var(--color-number); */
    position: absolute;
    top: 0;
    left: 0;
    /* content: counters(itemcounter, ".", decimal-leading-zero); */
}

.link {
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    color: var(--color-text);
}

.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.link::before {
    content: '';
    /* SHOW BY DEFAULT */
}

.link--metis::before {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
}

.link--metis:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
}

.link--helike:hover span {
    animation: glitchText 0.4s linear;
}



.link--helike::before {
    height: 1px;
    opacity: 0;
}

.link--helike:hover::before {
    opacity: 1;
    animation: glitchLine 0.4s steps(2, start) forwards;
}




nav,
main {
    padding: 0 5.6%;
    height: 100%;
    width: 100%;
}

/* HEADER */
header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    overflow: hidden;
}

header p {
    padding: 4% 5.6% 0;
    font-size: 3em;
    width: 50vw;
    font-weight: 400;
}

header nav ul {
    display: flex;
}

header nav ul li:nth-child(1) {
    margin-right: auto;
}

/* header nav ul li:nth-child(2) {
    margin-right: 3rem;
} */

/* MAIN */
main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

main ul {
    display: flex;
    flex-direction: column;
    row-gap: 15vh;
}

.item-container {
    display: flex;
    contain: content;
    width: 40vw;
    height: 30vw;
}

main ul li a img {
    height: 30vw;
    background-color: red;
    width: 40vw;
}

main ul li a h3 {
    margin-top: 1.5rem;
    font-size: 2em;
}

main ul li a div {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

main ul li a div p {
    padding: 0 .5rem;
    font-size: .7em;
    /* color: #737373; */
}

main ul li a div p:nth-child(1) {
    padding-left: 0;
}

main ul li:nth-child(1) {
    margin-left: auto;
}

main ul li:nth-child(3) {
    margin-left: auto;
}

.about {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    gap: 2rem 6rem;

}

.about img {
    grid-column-start: 1;
    grid-column-end: 4;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.about p {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    font-size: 1em;
}

.about .intro {
    line-height: 1.5;
    font-weight: 300;
    font-size: 2em;
}

.about .about-info {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    margin-left: auto;
}

.about .about-info .blocks {
    display: inline-block;
    padding-left: 4rem;
}

.about .about-info .blocks p:first-child {
    color: #878787;
    text-transform: uppercase;
    padding-bottom: 1rem;
    font-size: .75em;
}


/* FOOTER */
footer {
    background: #000;
    margin-top: 15rem;
    padding-top: 7.5%;
    width: 100%;
    height: 100%;
}

footer .credits {
    color: #fff;
    padding: 0 5.6% 5%;
    font-size: 1em;
    font-family: 'Playfair Display', serif;
}

footer .credits img {
    margin: -10px 5px;
    width: 15px;
}

footer .container {
    margin: 0 auto;
    max-width: 960px;
    padding: 7.5% 0 4.5% 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}

footer .container h2 {
    color: #fff;
    font-size: 8em;
    font-weight: 400;
    height: 20rem;
    width: 90%;
    align-self: flex-start;
}

footer .pf {
    height: 25%;
    padding-right: 2rem;
}

footer hr {
    width: 100%;
}

footer .container .contact-buttons {
    display: flex;
    align-self: flex-start;
    padding: 5em 0;
}

footer .container .contact-buttons a {
    display: flex;
    color: #fff;
    font-size: 1em;
    padding: 1.5em 2.5em;
    border: 1px solid #fff;
    border-radius: 100px;
    text-decoration: none;
    transition: .3s ease-in-out;
}

footer .container .contact-buttons a:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
}

footer .container .contact-buttons a:first-child {
    margin-right: 1em;
}

.bottom-info {
    display: grid;
    grid-template-columns: 1fr 0fr;
    color: #fff;
    padding-top: 4rem;
}

.bottom-info .version p:nth-child(1) {
    color: #878787;
    text-transform: uppercase;
    padding-bottom: 1rem;
    font-size: .75em;
}

.bottom-info .version p:nth-child(2) {
    color: #FFF;
    text-transform: uppercase;
    padding-bottom: 1rem;
    font-size: 1em;
}

.bottom-info .social p {
    color: #878787;
    text-transform: uppercase;
    padding-bottom: 1rem;
    font-size: .75em;
}

.bottom-info .social a {
    color: #fff;
    text-decoration: none;
}

.bottom-info .social a:first-of-type {
    margin-right: 1rem;
    font-size: 1em;
}


/* MARQUEE CAROUSEL ANIMATION */


.slider {
    height: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slider:nth-of-type(2) .slide-track {
    animation-direction: reverse;
    margin-top: 5rem;
}

.slider .slide-track {
    -webkit-animation: scroll 30s linear infinite;
    animation: scroll 30s linear infinite;
    display: flex;
    justify-content: space-between;
    width: calc(400px * 10);
}

.slider .slide {
    height: 400px;
    width: 400px;
    transition: .3s ease-in-out;
}

.slider .slide video {
    width: 100%;
    height: 100%;
}


/* MARQUEE TITLE ANIMATION */
.marquee {
    position: relative;
    width: var(--marquee-width);
    overflow: hidden;
    pointer-events: none;
}

.marquee__inner {
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 10s linear infinite;
    transition: opacity 0.1s;
}

.marquee span {
    font-family: 'Playfair Display', serif;
    white-space: nowrap;
    font-size: var(--item-font-size);
    padding: 1vw;
    line-height: 1.15;
    font-size: 20em;
    font-weight: 600;
}


/* CUSTOM CURSOR */


#cursor {
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    pointer-events: none;
    will-change: transform;
    mix-blend-mode: difference;
}

@media (hover: hover) and (pointer: fine) {
    .cursor__circle {
        width: 24px;
        height: 24px;
        margin-top: -50%;
        margin-left: -50%;
        border-radius: 50%;
        background-color: #7D7D7D;
        transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    }

    #cursor.arrow .cursor__circle {
        width: 128px;
        height: 128px;
        background-color: #073099;
        border-color: #073099;
    }

    #cursor.arrow::after {
        content: '';
        position: absolute;
        left: -50%;
        top: -50%;
        width: 100%;
        height: 100%;
        background-image: url('https://svgshare.com/i/MzQ.svg');
        background-repeat: no-repeat;
        background-position: center;
    }

    #cursor.button .cursor__circle {
        width: 48px;
        height: 48px;
        background-color: #073099;
        border-color: #073099;
    }

    #cursor.subtle .cursor__circle {
        opacity: 0.16;
    }

    #cursor.overlay .cursor__circle {
        width: 48px;
        height: 48px;
        background-color: rgba(227, 222, 193, 0.08);
        border-color: transparent;
    }
}



/* KEYFRAMES */


@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-750px * 2));
    }
}

@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}


@keyframes glitchLine {
    0% {
        transform: scale3d(1, 1, 1);
    }

    10% {
        transform: translate3d(10px, 0, 0);
    }

    20% {
        transform: translate3d(0, 4px, 0);
    }

    30% {
        transform: scale3d(0.1, 1.4, 1) translate3d(0, -25px, 0);
        transform-origin: 100% 0%;
    }

    40% {
        transform: scale3d(1, 0.3, 1) translate3d(0, 25px, 0);
    }

    50% {
        transform: scale3d(0.5, 0.3, 1) translate3d(-100px, -80px, 0);
    }

    60% {
        transform: scale3d(1, 1.25, 1) translate3d(10px, -5px, 0);
    }

    70% {
        transform: scale3d(0.5, 0.5, 1) translate3d(0, 20px, 0);
    }

    80% {
        transform: translate3d(-30, 10px, 0) scale3d(1, 0.4, 1);
        transform-origin: 100% 0%;
    }

    90% {
        transform: scale3d(1, 0.5, 1) translate3d(0, -15px, 0);
        ;
        transform-origin: 0% 50%;
    }

    100% {
        opacity: 1;
    }
}


@keyframes glitchText {
    0% {
        opacity: 1;
        transform: translate3d(-10px, 0, 0) scale3d(-1, -1, 1);
        -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
        clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    }

    10% {
        -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
        clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    }

    20% {
        -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
        clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    }

    35% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
        clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    }

    50% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
        clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    }

    60% {
        -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
        clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    }

    70% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
        clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    }

    80% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
        clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    }

    90% {
        transform: translate3d(-10px, 0, 0) scale3d(-1, -1, 1);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

@media only screen and (min-width: 1800px) {

    header p {
        width: 35vw;
    }

}

/* RESPONSIVE TABLET */


@media only screen and (max-width: 1180px) {
    header p {
        font-size: 2em;
        width: 100vw;
    }

    .marquee span {
        font-size: 7em;
    }

    main ul {
        row-gap: 9vh;
    }

    .item-container {
        width: 100%;
        height: auto;
    }

    .item-container video{
        width: 100%;
    }

    main ul li:nth-child(1){
        margin: 0;
    }

    main ul li a img {
        width: 89vw;
        height: 100%;
    }

    main ul li a div p {
        font-size: 1em;
    }

    main ul li a h3 {
        font-size: 3em;
    }

    footer {
        margin-top: 8rem;
    }

    footer .credits {
        padding: 0 5.6% 9%;
    }

    .slider .slide-track{
        width: calc(250px * 10);
    }

    .slider .slide {
        height: 250px;
        width: 250px;
    }

    footer .container {
        padding: 20% 5.6% 10%;
    }

    footer .container h2 {
        font-size: 8em;
        width: 100%;
        height: 21rem;
    }

    footer .container .contact-buttons a {
        font-size: 1.5em;
    }

    footer hr {
        width: auto;
    }

    footer .pf {
        height: 27%;
    }

    footer .container .contact-buttons {
        padding: 6em 0;
    }

    footer .bottom-info {
        padding: 0;
    }

    .bottom-info .version p:first-child {
        font-size: 1em;
    }

    .bottom-info .version p:last-child {
        font-size: 1.5em;
    }

    .bottom-info .social a:first-of-type {
        font-size: 1.5em;
    }

    .bottom-info .social p {
        font-size: 1em;
    }

    .about {
        display: grid;
        grid-template-columns: 100%;
        gap: 2rem 6rem;
    
    }
    
    .about img {
        grid-column-start: 1;
        grid-column-end: 1;
    }
    
    .about p {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        font-size: 1.5em;
    }
    
    .about .intro {
        line-height: 1.5;
        font-weight: 300;
        font-size: 2em;
    }
    
    .about .about-info {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        margin-left: 0;
    }
    
    .about .about-info .blocks {
        display: inline-block;
        padding: 0;
    }

    .about .about-info .blocks:nth-child(2) {
        padding-left: 4rem;
    }
    
    .about .about-info .blocks p:first-child {
        color: #878787;
        text-transform: uppercase;
        padding-bottom: 1rem;
        font-size: 1em;
    }
}


/* RESPONSIVE OVERIG */

@media only screen and (max-width: 950px) {

    footer .container h2 {
        font-size: 6.5em;
        width: 100%;
        height: 21rem;
    }

}



/* RESPONSIVE MOBILE */


@media only screen and (max-width: 425px) {
    header p {
        font-size: 1.5em;
        width: 100vw;
    }

    .marquee span {
        font-size: 5em;
    }

    main ul {
        row-gap: 9vh;
    }

    main ul li a h3 {
        font-size: 2em;
    }

    .item-container {
        width: 100%;
        height: auto;
    }

    .item-container video{
        width: 100%;
    }

    main ul li:nth-child(1){
        margin: 0;
    }

    main ul li a img {
        width: 89vw;
        height: 100%;
    }

    main ul li a div p {
        font-size: .7em;
    }

    footer {
        margin-top: 5rem;
    }

    footer .credits {
        padding: 0 5.6% 9%;
    }

    .slider .slide-track{
        width: calc(250px * 10);
    }

    .slider .slide {
        height: 250px;
        width: 250px;
    }

    footer .container {
        padding: 20% 5.6% 10%;
    }

    footer .container h2 {
        font-size: 3.2em;
        width: 100%;
        height: 11rem;
    }

    footer .container .contact-buttons a {
        font-size: .7em;
    }

    footer hr {
        width: auto;
    }

    footer .pf {
        height: 19%;
    }

    footer .container .contact-buttons {
        padding: 3.5em 0;
    }

    footer .bottom-info {
        padding: 0;
    }

    .bottom-info .version p:first-child {
        font-size: .7em;
    }

    .bottom-info .version p:last-child {
        font-size: 1em;
    }

    .bottom-info .social a:first-of-type {
        font-size: 1em;
    }

    .bottom-info .social p {
        font-size: .7em;
    }


    .about {
        display: grid;
        grid-template-columns: 100%;
        gap: 2rem 6rem;
    
    }
    
    .about img {
        grid-column-start: 1;
        grid-column-end: 1;
    }
    
    .about p {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        font-size: 1em;
    }
    
    .about .intro {
        line-height: 1.5;
        font-weight: 300;
        font-size: 1.2em;
    }
    
    .about .about-info {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        margin-left: 0;
    }
    
    .about .about-info .blocks {
        display: inline-block;
        padding: 0;
    }

    .about .about-info .blocks:nth-child(2) {
        padding-left: 3rem;
    }
    
    .about .about-info .blocks p:first-child {
        color: #878787;
        text-transform: uppercase;
        padding-bottom: 1rem;
        font-size: .75em;
    }

}