/* ACHTERGROND CASE */

/* .background-case img {
    position: absolute;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
} */

.background-case video {
    position: absolute;
    width: 100%;
    z-index: 0;
}

header {
    color: #fff;
    padding-bottom: 2rem;
}

main {
    margin-top: 20vh;
    /* height: 100vh; */
    justify-content: center;
}

.intro-case {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    /* padding: 15em 0 0; */
    color: #fff;
    z-index: 1;
}

.intro-case p {
    font-size: .8rem;
    font-weight: 600;
}

.intro-case h2{
    font-family: 'Playfair Display', serif;
    font-size: 3.5rem;
    font-weight: 600;
    padding: 1rem 0;
}

.intro-case div{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.intro-case div p:nth-child(1) {
    padding-left: 0;
}

.intro-case div p {
    padding: 0 0.5rem;
    font-size: .8rem;
    font-weight: 300;
}

.video-case{ 
    z-index: 2;
    margin: 15vh 0;
}

.video-case video{ 
    display: grid;
    width: 85%;
    margin: 0 auto;
}