/* ACHTERGROND CASE */

/* .background-case img {
    position: absolute;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
} */

.background-case video {
    position: absolute;
    width: 100%;
    z-index: 0;
}

header {
    color: #fff;
    padding-bottom: 2rem;
}

main {
    margin-top: 20vh;
    /* height: 100vh; */
    justify-content: center;
}

.intro-case {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    /* padding: 15em 0 0; */
    color: #fff;
    z-index: 1;
}

.intro-case p {
    font-size: 1em;
    font-weight: 600;
}

.intro-case h2 {
    font-family: 'Playfair Display', serif;
    font-size: 3.5em;
    font-weight: 600;
    padding: 1rem 0;
}

.intro-case div {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.intro-case div p:nth-child(1) {
    padding-left: 0;
}

.intro-case div p {
    padding: 0 0.5rem;
    font-size: 0.8em;
    font-weight: 300;
}

.video-case {
    z-index: 2;
    margin: 15rem 0 0;
}

.video-case video {
    display: grid;
    width: 85%;
    margin: 0 auto;
}

.about-case {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 8rem 6rem;
    padding: 0 15%;
}

.about-case img {
    grid-column-start: 1;
    grid-column-end: 4;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.about-case p {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
}

.about-case .intro {
    line-height: 1.5;
    font-weight: 300;
    font-size: 1.4em;
}

.about-case .about-info {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    margin-left: auto;
}

.about-case .about-info .blocks {
    display: inline-block;
    padding-left: 4rem;
}

.about-case .about-info .blocks p:nth-child(1) {
    color: #878787;
    text-transform: uppercase;
    padding-bottom: 1rem;
    font-size: 0.75em;
}

.about-case .about-info .blocks p:nth-child(2) {
    font-size: 1.4em;
}

ul.deliverables {
    display: block;
}

.about-case .about-info .blocks .deliverables li {
    font-size: 1.4em;
}

.about-case .about-info .blocks a {
    font-family: 'Playfair Display', serif;
}

.about-case span {
    font-family: 'Playfair Display', serif;
    font-size: 3.5em;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
}